// SECTION-TWO
.section-two {
  height: 25vh;
  width: 100%;
  position: absolute;
  background-color: #ff0f5c;
  text-align: center;
}

.section-two-container {
  border-radius: 10px;
  z-index: 1;
  position: relative;
  top: 3.5rem;
  width: 70%;
  
}
