// Techs-Tools
.techs-tools-img {
  height: 150px;
  filter: grayscale(100%);
}

.techs-tools-img-html {
  height: 150px;
  filter: grayscale(100%);
}

.techs-tools-img-sass {
  height: 150px;
  border: none;
  filter: grayscale(100%);
}

.techs-tools-img-bootstrap {
  height: 150px;
  border: none;
  filter: grayscale(100%);
  padding-bottom: 10px;
}

.techs-tools-img-react {
  height: 150px;
  border: none;
  filter: grayscale(100%);
  padding-bottom: 10px;
}

.techs-tools-img-nodejs {
  height: 150px;
  border: none;
  filter: grayscale(100%);
  padding-bottom: 10px;
}
